<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/files/resume_ongit.pdf">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
				<li><a href="/Projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:leinad.ayajaw@gmail.com">leinad.ayajaw@gmail.com</a></li>
				<li><a href="https://github.com/wijayad">github.com/wijayad</a></li>
	        		<li><a href="www.linkedin.com/in/daniel-wijaya">www.linkedin.com/in/daniel-wijaya</a></li>
				</ul>
			</footer>
		</body>
	</html>
